<div class="alert alert-info" role="alert">
	<h3 class="strong-body">Companies <span class="label label-default"><a class="emphasis-button" href="/contacts/<%= @contact.id %>/companies/new">Add</a></span></h3>
	<% @contact.companies.each do |company| %>
			<form class="inline-form" onsubmit="return confirm('Are you sure you want to delete?');" method="post" action="/contacts/<%= @contact.id %>/companies/<%= company.id %>/destroy">
				<h3><%= company.name %> <a href="/contacts/<%= @contact.id %>/companies/<%= company.id %>/edit"><button type="button" class="btn btn-default">Edit</button></a> 
    		<input type="hidden" name="_method" value="delete">
    		<button class="btn btn-default" type="submit">Delete</button>
			</form></h3>
		<% unless company.sister_company_id.nil? %>
			<p>Parent company: <%= Company.find(company.sister_company_id).name %></p>
		<% end %>
		<p>Position: <%= company.position %></p><br>
	<% end %>
</div>