<div class="jumbotron">
	<h1 class="text-center"><%= @contact.whole_name %></h1>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 text-center">

				<%= erb :'partials/_companies_edit' %>

				<%= erb :'partials/_phone_numbers_edit' %>

				<%= erb :'partials/_addresses_edit' %>

				<%= erb :'partials/_relationships_edit' %>
			
			</div>
		</div>
	</div>
</div>



