<div class="jumbotron">
	<h1 class="text-center"><small>New Company for <%= @contact.whole_name %></small></h1>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 text-center">

				<form class="form-horizontal" action="/contacts/<%= @contact.id %>/companies/new" method="post">
					<div class="form-group form-group-lg">
						<input class="form-control" required type="text" placeholder="Company name" name="company[name]">
					</div>
					<div class="form-group form-group-lg">
						<input class="form-control" required type="text" placeholder="Last name" name="company[position]"><br>
					</div>
					<button type="submit" class="btn btn-primary btn-lg ">Create</button>
				</form>

			</div>
		</div>
	</div>
</div>


<form action="/contacts/<%= @contact.id %>/companies/new" method="post">
	<input required type="text" placeholder="Company name" name="company[name]"><br>
	<input type="text" placeholder="Job title" name="company[position]"><br>
	Parent company: <select name="company[sister_company_id]">
	<option value="">None</option>
	<% @companies.each do |company| %>
	<option value="<%= company.id %>"><%= company.name %></option>
	<% end %>
</select><br>
<input type="submit" value="Create">
</form>
