<div class="jumbotron">
	<h1 class="text-center"><small>Edit Address for <%= @contact.whole_name %></small></h1>
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-lg-offset-4 text-center">
				<form class="form-horizontal" action="/contacts/<%= @contact.id %>/addresses/<%= @address.id %>/edit" method="post">
					<div class="form-group form-group-lg">
						<input class="form-control" required type="text" placeholder="Street" name="address[street]" value="<%= @address.street %>">
					</div>
					<div class="form-group form-group-lg">
						<input class="form-control" required type="text" placeholder="City" name="address[city]" value="<%= @address.city %>">
					</div>
					<%= erb :'partials/_states_edit' %>
					<div class="form-group form-group-lg">
						<input class="form-control" required type="text" placeholder="Zip code" name="address[zip_code]" pattern="[0-9]{5}" size="5" value="<%= @address.zip_code %>">
					</div>
					<div class="form-group form-group-lg">
						<input class="form-control" required type="text" placeholder="Address type" name="address[address_type]" value="<%= @address.address_type %>">
					</div>
					<button type="submit" class="btn btn-primary btn-lg ">Update</button>
				</form>
			</div>
		</div>
	</div>
</div>
